.about-div-container{
    background-image: url("https://us.123rf.com/450wm/vadmary/vadmary1704/vadmary170400039/76733664-stock-illustration-popcorn-cinema-reel-disposable-cup-clapper-board-and-tickets-at-blue-background-concept-cinema-theat.jpg?ver=6");
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    color: black;
    padding: 100px;
}

.about-content-container{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    padding: 30px;
}

.about-title-container{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

.about-content{
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}